<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body class="body">
    {% include 'partials/email-budget.twig' %}
    {% include 'partials/header-mobile.twig' %}
    {% include 'partials/footer-mobile.twig' %}
    <aside class="aside">
      <div class="aside__header">
        {% include 'partials/aside__header.twig' %}
        {% include 'partials/aside__buttons.twig' %}
      </div>
      {% include 'partials/aside__preview.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <article class="article">
        <div id="policy-message" class="policy-container policy-container--padded">
          {% include 'partials/policy.twig' %}
        </div>
        <header class="article__header">
          <img src="cover.jpg" class="article__image">
        </header>

        <div class="article__contents">
          <h1 class="article__title">
            {{ title }}
          </h1>
          <ul class="article__infos">
            <li class="article__info">
              <i class="article__icon material-icons">weekend</i>
              <span class="article__detail">
                {{ furniture }}
              </span>
            </li>
            <li class="article__info">
              <i class="article__icon material-icons">access_time</i>
              {% set printDate = date|date('l j F Y') %}
              <time class="article__detail timeago" datetime="{{ date }}" title="{{ printDate }}">
                {{ printDate }}
              </time>
            </li>
          </ul>

          <div class="article__actions article__actions--upper">
            {% include 'partials/actions.twig' with { 'verbose': 'true' } %}
          </div>

          <div class="markdown">
            {{ contents }}
          </div>

          <div class="article__actions">
            {% include 'partials/actions.twig' with { 'verbose': 'true' } %}
          </div>
        </div>
      </article>
    </main>
    {% include 'partials/assets.twig' %}
  </body>
</html>
