<!doctype html>
<html lang="{{ metadata.lang }}" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  {% include 'partials/head.twig' with {
    title: metadata.title,
    date: m.metadata.lastmod
    }
  %}
  <body class="body">
    <canvas class="cover" id="canvas-webgl" data-image="{{ relativePath }}img/{{ cover }}"></canvas>

    <div class="contents">
      {% include 'partials/item.twig' with { items: work } %}
      {% include 'partials/item.twig' with { items: personal, modifier: 'items--desktop' } %}
      {% include 'partials/item.twig' with { items: contact } %}
      <a href="{{ metadata.repo }}" class="source">
        Source code URL / {{ metadata.repo|replace({'http://': '', 'https://': ''}) }}
      </a>
    </div>

    <a class="logo" href="mailto:vv@ideato.it">
      <svg class="logo__image" viewBox="0 0 22 19">
        <g>
          <path d="M1.875,0.375l17.25,0l-6.75,11.625l-1.5,-2.625l3.75,-6.375l-14.25,0l1.5,-2.625Z" style="fill:#545454;fill-rule:nonzero;"/>
          <path d="M0.375,3.375l13.5,0l-1.5,2.625l-7.5,0l6.75,12.375l-2.625,0l-8.625,-15Z" style="fill:#545454;fill-rule:nonzero;"/>
          <path d="M5.625,6.375l3,0l3.75,6.375l7.125,-12l1.5,2.625l-9,14.625l-6.375,-11.625Z" style="fill:#545454;fill-rule:nonzero;"/>
        </g>
      </svg>
    </a>

    {% include 'partials/assets.twig' %}
  </body>
</html>
