<!doctype html>
<html lang="{{ metadata.lang }}">
  {% include 'partials/head.twig' %}
  <body class="body">
    {% include 'partials/header-mobile.twig' %}
    {% include 'partials/games/footer-mobile.twig' %}
    <aside class="aside">
      <div class="aside__header">
        {% include 'partials/aside__header.twig' %}
        {% include 'partials/aside__buttons.twig' %}
      </div>
      {% include 'partials/games/aside__preview.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <article class="article">
        <div id="policy-message" class="policy-container policy-container--padded">
          {% include 'partials/policy.twig' %}
        </div>
        <header class="article__header">
          <img src="cover.jpg" class="article__image">
        </header>

        <div class="article__contents">
          <h1 class="article__title">
            {{ title }}
          </h1>
          <ul class="article__infos">
            <li class="article__info">
              <i class="article__icon material-icons">videogame_asset</i>
              <span class="article__detail">
                {{ manufacturer }} {{ platform }}
              </span>
            </li>
            <li class="article__info">
              <i class="article__icon material-icons">watch_later</i>
              {% set printDate = date|date('l j F Y') %}
              <time class="article__detail timeago" datetime="{{ date }}" title="{{ printDate }}">
                {{ printDate }}
              </time>
            </li>
            <li class="article__info">
              <i class="article__icon material-icons">local_library</i>
              <span class="reading-time"></span>
            </li>
          </ul>

          <hr class="hr">

          <div class="markdown">
            {{ contents }}
          </div>

          <hr class="hr">

          <canvas id="review-chart" width="100%" height="300"></canvas>

        </div>
      </article>
      {% include 'partials/cookie-policy.twig' %}
    </main>

    {% include 'partials/assets.twig' %}

    <script type="text/javascript">
      var ctx = document.getElementById('review-chart')
      var review = {{ review | json_encode() }}
      var labels = []
      var votes = []

      for (var i = 0; i < review.length; i += 1) {
        labels.push(review[i].name)
        votes.push(review[i].vote)
      }

      var data = {
          labels: labels,
          datasets: [{
              data: votes
          }]
      }

      console.log(Chart.defaults.radar)

      var radarChart = new Chart(ctx, {
          type: 'radar',
          data: data,
          options: Chart.defaults.radar
      })
    </script>
  </body>
</html>
