<!doctype html>
<html lang="{{ metadata.lang }}">
  {% include 'partials/head.twig' %}
  <body class="body">
    {% include 'partials/header-mobile.twig' %}
    {% include 'partials/reviews/footer-mobile.twig' %}
    <aside class="aside">
      <div class="aside__header">
        {% include 'partials/aside__header.twig' %}
        {% include 'partials/aside__buttons.twig' %}
      </div>
      {% include 'partials/reviews/aside__preview.twig' %}
      {% include 'partials/aside__footer.twig' %}
    </aside>
    <main class="main">
      <article class="article">
        <div id="policy-message" class="policy-container policy-container--padded">
          {% include 'partials/policy.twig' %}
        </div>
        <header class="article__header">
          <img src="cover.jpg" class="article__image">
        </header>

        <div class="article__contents">
          <h1 class="article__title">
            {{ title }}
          </h1>
          <ul class="article__infos">
            {% if draft is defined %}
              <li class="article__info">
                <div class="publish-status publish-status--article">
                  Draft
                </div>
              </li>
            {% endif %}
            <li class="article__info">
              <i class="article__icon material-icons">videogame_asset</i>
              <span class="article__detail">
                {{ manufacturer }} {{ platform }}
              </span>
            </li>
            <li class="article__info">
              <i class="article__icon material-icons">watch_later</i>
              {% set printDate = date|date('l j F Y') %}
              <time class="article__detail timeago" datetime="{{ date }}" title="{{ printDate }}">
                {{ printDate }}
              </time>
            </li>
            <li class="article__info">
              <i class="article__icon material-icons">local_library</i>
              <span class="reading-time"></span>
            </li>
          </ul>

          <hr class="hr">

          <div class="markdown markdown--no-border">
            {{ contents }}
          </div>

          <hr class="hr">

          <div class="review">
            <div class="review__chart">
              <div class="review-chart">
                <canvas id="review-chart" width="100%" height="auto"></canvas>
              </div>
            </div>
            <div class="review__votes">
              {% set finalVote = 0 %}
              {% for item in review %}
                {% set finalVote = finalVote + item.vote %}
              {% endfor %}
              {% set finalVote = (finalVote / review|length)|round %}

              {% if finalVote >= 90 %}
                {% set reviewVerdict = 'positive' %}
              {% elseif finalVote < 70 %}
                {% set reviewVerdict = 'negative' %}
              {% else %}
                {% set reviewVerdict = 'average' %}
              {% endif %}

              {% if finalVote >= 95 %}
                {% set reviewVerdictIcon = 'school' %}
              {% elseif finalVote >= 90 %}
                {% set reviewVerdictIcon = 'favorite' %}
              {% elseif finalVote >= 80 %}
                {% set reviewVerdictIcon = 'star' %}
              {% elseif finalVote >= 70 %}
                {% set reviewVerdictIcon = 'thumb_up' %}
              {% elseif finalVote >= 60 %}
                {% set reviewVerdictIcon = 'sentiment_neutral' %}
              {% elseif finalVote >= 40 %}
                {% set reviewVerdictIcon = 'thumb_down' %}
              {% elseif finalVote >= 20 %}
                {% set reviewVerdictIcon = 'do_not_disturb' %}
              {% else %}
                {% set reviewVerdictIcon = 'pan_tool' %}
              {% endif %}

              {% if finalVote >= 95 %}
                {% set reviewVerdictPhrase = 'Capolavoro' %}
              {% elseif finalVote >= 90 %}
                {% set reviewVerdictPhrase = 'Bellissimo' %}
              {% elseif finalVote >= 85 %}
                {% set reviewVerdictPhrase = 'Ottimo' %}
              {% elseif finalVote >= 80 %}
                {% set reviewVerdictPhrase = 'Bello' %}
              {% elseif finalVote >= 70 %}
                {% set reviewVerdictPhrase = 'Non male' %}
              {% elseif finalVote >= 60 %}
                {% set reviewVerdictPhrase = 'Carino' %}
              {% elseif finalVote >= 50 %}
                {% set reviewVerdictPhrase = 'Niente di che' %}
              {% elseif finalVote >= 40 %}
                {% set reviewVerdictPhrase = 'Brutto' %}
              {% elseif finalVote >= 30 %}
                {% set reviewVerdictPhrase = 'Orribile' %}
              {% elseif finalVote >= 20 %}
                {% set reviewVerdictPhrase = 'Osceno' %}
              {% elseif finalVote >= 10 %}
                {% set reviewVerdictPhrase = 'Fa cagare' %}
              {% else %}
                {% set reviewVerdictPhrase = 'Fa cagarissimo' %}
              {% endif %}

              <div class="review-vote review-vote--{{ reviewVerdict }}">
                <div class="review-vote__title">
                  Verdetto
                </div>
                <div class="review-vote__value">
                  {{ finalVote }}
                </div>
                <div class="review-vote__total">
                  su 100
                  <div class="review-badge review-badge--{{ reviewVerdict }}">
                    <i class="material-icons review-badge__icon">{{ reviewVerdictIcon }}</i>
                    {{ reviewVerdictPhrase }}
                  </div>
                </div>
              </div>

              <div class="pros-vs-cons">
                <div class="pros-vs-cons__column">
                  <div class="pros-vs-cons__title">
                    Pros
                  </div>
                  {% include 'partials/reviews/review-pros.twig' with { 'review': review, 'pros': pros } %}
                </div>
                <div class="pros-vs-cons__column">
                  <div class="pros-vs-cons__title">
                    Cons
                  </div>
                    {% include 'partials/reviews/review-cons.twig' with { 'review': review, 'cons': cons } %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </article>
      {% include 'partials/cookie-policy.twig' %}
    </main>

    {% include 'partials/assets.twig' %}

    {% include 'partials/reviews/chart.twig' %}
  </body>
</html>
