<div class="aside__buttons">
  <a href="{{ metadata.home }}" class="button button--back button--paginate">
    <i class="material-icons button__icon">eject</i>
  </a>
  {% if previous is defined %}
    <a href="{{ metadata.home }}/{{ previous.path }}" class="button button--back button--paginate">
      <i class="material-icons button__icon">arrow_back</i>
    </a>
  {% endif %}
  {% if next is defined %}
    <a href="{{ metadata.home }}/{{ next.path }}" class="button button--back button--paginate">
      <i class="material-icons button__icon">arrow_forward</i>
    </a>
  {% endif %}
</div>
