<div class="modal">
  <form id="budget-form" class="modal__body modal__body--wide"
      data-emailjs-user-id="{{ metadata.service.email_js.user_id }}"
      data-emailjs-service-id="{{ metadata.service.email_js.service_id }}"
      data-emailjs-template-id="budget"
      data-item-price="{{ price }}"
      data-item-title="{{ title }}"
      data-item-url="{{ metadata.home }}/{{ path }}"
    >
    <div class="modal-contents">
      <div class="modal-contents__column">
        <div class="modal__nav">
          <a href="{{ relativePath }}" class="button button--close button--inline modal__button--close modal__button--mobile">
            <i class="button__icon material-icons">keyboard_backspace</i>
          </a>
          <h3 class="modal__title modal__title--nav">
            Richiedi pezzo con il tuo budget
          </h3>
        </div>
        <label class="input">
          <input id="input-name" class="input__element" type="text" name="from" placeholder="Nome Cognome">
          <i class="input__icon material-icons">face</i>
          <p class="input__error">
            Inserisci Nome e Cognome così che possa risponderti
          </p>
        </label>
        <label class="input">
          <input id="input-email" class="input__element" type="email" name="reply_to" placeholder="tua@email.com">
          <i class="input__icon material-icons">mail</i>
          <p class="input__error">
            Verifica che la e-mail sia valida
          </p>
        </label>
        <label class="input input--textarea">
          <textarea id="input-notes" class="input__element" name="description" placeholder="Note (facoltative)"></textarea>
          <i class="input__icon material-icons">content_paste</i>
        </label>
      </div>
      <div class="modal-contents__column">
        <h3 class="modal__title">
          Budget
        </h3>
        <p class="modal__text">
          Indica il budget che vuoi mettere a disposizione, ti contatterò per spiegarti cosa si può fare in base alle tue note e avere conferma per procedere.
        </p>
        <div class="budget-range">
          <div id="budget"></div>
        </div>
        <div class="budget-info">
          <div class="budget-info__column">
            <span class="budget-info__title">Budget</span>
            <span id="custom-budget" class="budget-info__value budget-info__value--custom">300€</span>
          </div>
          <div class="budget-info__column">
            <span class="budget-info__title">Prezzo originale</span>
            <span class="budget-info__value">{{ price }}€</span>
          </div>
        </div>
        <div class="budget">
          <div class="budget__column">
            <img src="{{ relativePath }}img/budget--low.svg" alt="" class="budget__image">
          </div>
          <div class="budget__column budget__column--active">
            <img src="{{ relativePath }}img/budget--base.svg" alt="" class="budget__image">
          </div>
          <div class="budget__column">
            <img src="{{ relativePath }}img/budget--high.svg" alt="" class="budget__image">
          </div>
        </div>
        <p class="modal__text">
          La qualità del lavoro dipenderà dai tagli sul budget, se questi saranno troppo alti, potrebbe non essere possibile realizzare il pezzo.
        </p>
      </div>
    </div>
    <div class="modal__footer">
      <a href="#" class="button button--back modal__button modal__button--close">Chiudi</a>
      <div id="send-budget-request" class="button button--send modal__button">
        <div class="button__infos">
          Invia
        </div>
        <i class="button__icon material-icons">email</i>
      </div>
    </div>
  </form>

  <div class="modal__body modal__body--status modal__body--hidden">
    <div class="send-status">
      <i class="send-status__icon send-status__icon--info material-icons">send</i>
      <div class="send-status__title">
        Messaggio inviato
      </div>
    </div>
    <p class="modal__text">
      Riceverai una copia del messaggio che hai inviato con i dettagli.<br>
      Controllerò la posta dopo le 18:00 e cercherò di risponderti al più presto.
    </p>
  </div>

  <div class="modal__body modal__body--status modal__body--hidden">
    <div class="send-status">
      <i class="send-status__icon send-status__icon--error material-icons">report_problem</i>
      <div class="send-status__title">
        Errore di invio
      </div>
    </div>
    <p class="modal__text">
      Si è verificato un errore di invio del messaggio.<br>
      Il sistema ha registrato il problema, spero di risolverlo a breve o che si tratti di un semplice disservizio.
    </p>
    <div class="modal__footer">
      <a href="#" class="button button--fill button--back modal__button modal__button--close">Chiudi</a>
    </div>
  </div>

</div>
