{% if onFooter and metadata.enable.store == false %}
  {% set hideButton = false %}
{% else %}
  {% set hideButton = onFooter %}
{% endif %}

{% if sold_out == false %}
  <div class="actions {% if onFooter %} actions--footer {% endif %} actions--available">
    {% if metadata.enable.store == true %}
    <a class="actions__item button button--available" href="{{ store }}" target="_blank">
      <i class="button__icon material-icons">shopping_cart</i>
      <span class="button__infos">
        <div class="button__title">
          Acquista
        </div>
        <div class="button__price">
          {{ price }}€
        </div>
      </span>
    </a>
    {% endif %}
    <a class="actions__item actions__item--fill button button--try-budget-available {% if hideButton %} button--hidden {% endif %}" href="#">
      <i class="button__icon material-icons">email</i>
      <span class="button__infos">
        <div class="button__text">
          Richiedi un oggetto simile basandoti sul tuo budget
        </div>
      </span>
    </a>
    {% if metadata.social.messenger %}
      <a class="actions__item actions__item--short button button--chat-available" href="{{ metadata.social.messenger }}" target="_blank">
        <i class="button__icon material-icons">chat</i>
        <span class="button__infos">
          <div class="button__text">
            Scrivimi via chat
          </div>
        </span>
      </a>
    {% endif %}
  </div>
{% else %}
  <div class="actions {% if onFooter %} actions--footer {% endif %}">
    {% if metadata.enable.store == true %}
    <a class="actions__item button button--sold-out action--try-budget" href="{{ store }}" target="_blank">
      <i class="button__icon material-icons">remove_shopping_cart</i>
      <span class="button__infos">
        <div class="button__title">
          Venduto
        </div>
        <div class="button__price">
          {{ price }}€
        </div>
      </span>
    </a>
    {% endif %}
    <a class="actions__item actions__item--fill button button--try-budget {% if hideButton %} button--hidden {% endif %}" href="#">
      <i class="button__icon material-icons">email</i>
      <span class="button__infos">
        <div class="button__text">
          Richiedi un oggetto simile basandoti sul tuo budget
        </div>
      </span>
    </a>
    {% if metadata.social.messenger %}
      <a class="actions__item actions__item--short button button--chat" href="{{ metadata.social.messenger }}" target="_blank">
        <i class="button__icon material-icons">chat</i>
        <span class="button__infos">
          <div class="button__text">
            Scrivimi via chat
          </div>
        </span>
      </a>
    {% endif %}
  </div>
{% endif %}
