<div class="actions {% if onFooter %} actions--footer {% endif %} actions--available">
  {% if previous is defined %}
    {% if previous.draft and metadata.enable.drafts or previous.draft is not defined %}
      <a href="{{ relativePath }}{{ previous.path }}" class="button button--inline button--home">
        <i class="material-icons button__icon">arrow_back</i>
      </a>
    {% endif %}
  {% endif %}

  {% if metadata.chat %}
    <a class="actions__item actions__item--short button button--chat-available" href="{{ metadata.chat }}" target="_blank">
      <i class="button__icon material-icons">chat</i>
      <span class="button__infos">
        <div class="button__text">
          Scrivimi via chat
        </div>
      </span>
    </a>
  {% endif %}

  {% if next is defined %}
    {% if next.draft and metadata.enable.drafts or next.draft is not defined %}
      <a href="{{ relativePath }}{{ next.path }}" class="button button--inline button--home">
        <i class="material-icons button__icon">arrow_forward</i>
      </a>
    {% endif %}
  {% endif %}
</div>
